:root {
  --content-color: #f7e6ad;
  --pic-color: #f6d7a7;
  --content-font: "Rubik", sans-serif;
  --logo-font: "Londrina Outline", cursive;

  /* font-family: "Fredericka the Great", cursive;
  font-family: "Sacramento", cursive; */
}

/* body {
  background-color: #f7f7f7;
} */

h1,
h3,
.col-center p {
  font-family: var(--content-font);
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.6;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.pic-color {
  background-color: var(--pic-color);
}

.content-color {
  background-color: var(--content-color);
}

.social-links {
  color: black;
  font-size: 2vh;
  padding: 1vh 1vw;
  text-decoration: none;
}

.col-logo {
  font-family: var(--logo-font);
  font-size: 61px;
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: -3vw;
}

.logo {
  font-family: var(--logo-font);
  font-size: 61px;
  margin-left: -3vw;
  margin-top: -3vh;
}

.col-contant h1 {
  margin-left: -3vw;
}
.col-contant h3 {
  margin-left: -3vw;
}

.col-contant p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  margin-left: -3vw;
  margin-right: 6vw;
}

.SheCodes-logo {
  width: 7vw;
  text-decoration: none;
}

.contact-link {
  color: black;
  font-size: 15px;
  font-weight: 700;
  margin-left: -3vw;
}

a:hover {
  color: brown;
}

.work-link {
  color: black;
  font-size: 12px;
  font-weight: 700;
}

.col-above {
  padding: 7vh 0;
}

.col-bottom {
  padding: 8vh 0;
}

.Col-pic-above {
  padding: 22vh 0;
}
.col-pic-bottom {
  padding: 4vh 0;
}

@media (max-width: 760px) {
  .navbar-section {
    height: 20vh;
    width: 100%;
  }

  .col-contant {
    height: 80vh;
    width: 100%;
    text-align: center;
  }

  .col-contant h1 {
    margin: 1vh 1vw;
  }
  .col-contant h3 {
    margin: 1vh 1vw;
  }
  .col-contant p {
    margin: 5vh 4vw;
  }

  .contact-link {
    margin-left: 1vw;
  }
}
