:root {
  --content-color: #e3f6f5;
  --pic-color: #bae8e8;
  --text-color: #272343;
  --hover-color: #264e70;
  --content-font: "Rubik", sans-serif;
  --logo-font: "Londrina Outline", cursive;

  /* 
  
  * fdf5ca content  0e3a5d
  *f6d7a7 pic fabba3
  #fef7dc
  f7e6ad
  f6eabe
  font-family: "Fredericka the Great", cursive;
  font-family: "Sacramento", cursive; */
}

/* body {
  color: #f7f7f7;
} */

h1,
h3,
.col-center p {
  color: var(--text-color);
  font-family: var(--content-font);
}

h1 {
  font-size: 35px;
  font-weight: 700;
  line-height: 1.6;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.pic-color {
  background-color: var(--pic-color);
}

.content-color {
  background-color: var(--content-color);
}

ul {
  list-style-type: none;
}
li {
  margin-left: 13vh;
}

.social-links {
  color: var(--text-color);
  font-size: 2.5vh;
  text-decoration: none;
}

.col-logo {
  color: var(--text-color);
  font-family: var(--logo-font);
  font-size: 40px;
  font-weight: 600;
  margin-left: -15vw;
  text-align: center;
}

.personal-pic-above {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 48vh;
}

.personal-pic-bottom {
  display: block;
  margin: 0 auto;
  width: auto;
  height: 10vh;
}

.col-contant h1 {
  margin-left: -4vw;
}
.col-contant h3 {
  margin-left: -4vw;
}

.col-contant p {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.7;
  margin-left: -4vw;
  margin-right: 6vw;
}

.SheCodes-logo {
  width: 7vw;
  text-decoration: none;
}

.contact-link {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 700;
  margin-left: -4vw;
}

a:hover {
  color: var(--hover-color);
}

.work-link {
  color: var(--text-color);
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  margin-top: 3vh;
}

.col-above {
  padding: 6vh 0;
}

.col-bottom {
  padding: 3vh 0;
}

@media (max-width: 760px) {
  .navbar-section {
    height: 20vh;
    width: 100%;
  }

  .col-contant {
    height: 80vh;
    width: 100%;
    text-align: center;
  }

  .col-contant h1 {
    margin: 1vh 1vw;
  }
  .col-contant h3 {
    margin: 1vh 1vw;
  }
  .col-contant p {
    margin: 5vh 4vw;
  }

  .contact-link {
    margin-left: 1vw;
  }
}
